body {
  margin: 0;
  overflow: hidden;
  background: black;
}

video, canvas {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 40px);
  object-fit: cover;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  color: white;
  padding: 6px;
}
